.loading-box.full {
  display: none;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  background: #fafafa;
  z-index: 3;
}

.loading-box.full.show {
  display: flex;
}

.loading-box {
  display: none;
}

.loading-box.full .loading-box-content {
  width: 5%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-box.full .loading-box-content img {
  width: 100%;
}
