.modal-popup {
  position: fixed;
  width: auto;
  min-width: 500px;
  min-height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 30px;
  height: auto;
  background-color: white;
  border-radius: 20px;
  z-index: 3;
  display: none;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
  &.show {
    display: flex;
    flex-direction: column;
  }
  & .btn-close {
    color: white;
    position: absolute;
    right: 5px;
    top: 15px;
    width: 30px;
    height: 30px;
  }
  .header-popup {
    height: 90px;
    width: 100%;
    margin-bottom: 25px;
    font-family: Roboto;
    font-size: 20px;
    margin-bottom: 25px !important;
    font-weight: 500;
    background-color: #7367f0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body-form {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    .gr_btn_submit {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      .btn {
        margin: 10px;
      }
      .btn-save {
        text-transform: uppercase;
        padding: 6px 15px;
        border-radius: 15px;
        background-color: #7367f0;
        cursor: pointer;
        color: white;
        &:hover {
          box-shadow: 0 8px 25px -8px #7367f0;
        }
      }
      .btn-reset {
        text-transform: uppercase;
        padding: 4px 25px;
        border-radius: 15px;
        background-color: transparent;
        color: #f3a356;
        border: 2px solid #f3a356;
        text-decoration: none;
        &:hover {
          box-shadow: 0 8px 25px -8px #f3a356;
        }
      }
    }
  }

  .popup-opacity {
    position: absolute;
    background-color: black;
    z-index: 2;
  }
}
