.footer-area {
  padding: 40px 0;
  background: #f9f9f9;
}

.footer-content {
  display: block;
  overflow: hidden;
  .footer-head {
    p {
      color: #444;
    }
    h4 {
      color: #444;
      font-size: 16px;
      letter-spacing: 2px;
      padding-bottom: 10px;
      text-transform: uppercase;
    }
    .footer-logo {
      padding-bottom: 20px;
    }
  }
}

@media (max-width: 767px) {
  .footer-content {
    margin-bottom: 30px;
  }
}
