.loginWrapper {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(../../../assets/images/vuexy-login-bg.jpg);
}
.loginContentWrapper {
  overflow-y: auto;
  z-index: 10;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.4);
  background-color: #eff2f7;
}

.loginContent {
  margin: 0 auto;
  min-width: 850px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
}
.loginContent .loginContentLeft {
  background-color: #eff2f7;
}

.loginContent .loginContentLeft .logo img {
  margin-top: 25%;
}

.loginContent .loginContentRight {
  min-width: 420px;
  height: 100%;
  padding: 0 40px;
  padding-left: 10px;
}

.loginContentRight .card-header {
  border-bottom: none;
  padding-left: 21px;
  background-color: #fff;
}

.loginContentRight .card-header .card-title {
  // padding-top: 10px;
  margin-bottom: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.loginContentRight .card-header .card-title h4 {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 30px;
  line-height: 1.2;
  color: #2c2c2c;
}

.loginContentRight p {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  padding-left: 21px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  color: #212529;
}
.ant-form-item-control-input-content {
  height: 40px;
}
.ant-form-item-control-input-content {
  height: 40px;
}
.loginForm {
  padding: 5px 21px 21px 21px !important;
}

.loginForm button {
  padding: 5px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  border-color: #4839eb !important;
  background-color: #7367f0 !important;
  color: #ffffff;
  text-transform: uppercase;
}
.ant-form-item-control-input-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 40px;
}

.forgot-link {
  flex-grow: 1;
  text-align: right;
}

.forgot-link a {
  color: #7367f0;
}

.check-remember {
  flex-grow: 1;
}
.user-infor-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item.user-infor li {
  margin: auto 10px;
}

.user-infor-box p {
  font-weight: bold;
  margin: 0px;
}

.user-avatar-box img {
  border-radius: 50%;
}

.card-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.account-signup {
  margin-top: 5px;
  span {
    font-size: 15px;
  }
  a {
    font-size: 15px;
    color: #7367f0;
    &:hover {
      color: #7367f0;
      text-decoration: underline;
    }
  }
}
