.card-product {
  margin: 5px 15px;
  list-style: none;
  width: 270px;
  .image-product {
    position: relative;
    margin-bottom: 5px;
    width: 270px;
    height: 320px;
    .image-infor {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
    .new {
      background-color: #ee3333;
      left: 20px;
    }
    .discount {
      background-color: #292929;
      right: 20px;
      opacity: 0;
    }
    .show {
      opacity: 1;
    }
    .addToCart {
      position: absolute;
      display: flex;
      left: 50%;
      bottom: 15px;
      transform: translateX(-50%);
      opacity: 0;
      svg {
        margin-right: 5px;
      }
      span {
        font-family: 'Roboto', Helvetica, sans-serif;
      }
      &:hover {
        box-shadow: 0 8px 25px -8px #7367f0;
      }
    }
    &:hover {
      .addToCart {
        opacity: 1;
        padding: 8px 10px;
        background-color: #7367f0;
        border-radius: 50px;
        color: white;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .infor-product {
    .category {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
      .title-category {
        span {
          color: #aaa;
        }
      }
      .star {
        display: flex;
        svg {
          margin-left: 2px;
          width: 20px;
          color: gold;
        }
      }
    }
    .title-product {
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 500;
      text-align: start;
    }
    .product-price {
      display: flex;
      .main-price {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        color: #929292;
        text-decoration: line-through;
        font-family: 'Karla', sans-serif;
        opacity: 0;
      }
      .show {
        opacity: 1;
      }

      .discounted-price {
        margin-right: 10px;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        margin-right: 10px;
        color: #e33;
        font-family: 'Karla', sans-serif;
      }
    }
  }
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}
