.notification-box {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #00000021;
  padding-bottom: 12px;
  cursor: pointer;
  padding-top: 10px;
}

.notification-link {
  text-decoration: none;
}

.notification-box.success i {
  color: #00c9a5;
}

.notification-box.success .no-box-content .box-title {
  color: #00c9a5;
}
.notification-box.error i {
  color: #d71a1c;
}

.notification-box.error .no-box-content .box-title {
  color: #d71a1c;
}

.notification-box.warning i {
  color: #ff9f43;
}

.notification-box.warning .no-box-content .box-title {
  color: #ff9f43;
}

.notification-box:hover {
  background-color: #00000014;
  transition: all 0.6s;
}

.notification-box:last-child {
  border: none;
}

.notification-box p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 13px;
}

.notification-box .no-box-icon {
  height: 100%;
  color: #7367f0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
}

.notification-box .no-box-icon i {
  font-size: 20px;
}

.notification-box .no-box-content {
  display: flex;
  justify-content: start;
  flex-direction: column;
  max-height: 250px;
  flex-grow: 1;
}

.notification-box .no-box-content p {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 229px;
  color: #212529;
}

.notification-box .no-box-time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}
.notification-box .no-box-time p {
  padding: 0px;
  right: 0px;
  color: #212529;
}

// .alert-all {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-family: 'Nunito Sans', sans-serif;
//   font-size: 15px;
//   border-top: 1px solid #0000002b;
//   height: 43px;
//   position: relative;
//   overflow: hidden;
// }
